<!DOCTYPE html>
<html lang="en">


    {% load static %}
    {% block head %}
    <head>

        {% load django_htmx %}
        <!-- Default content goes here -->
        
        <meta charset="UTF-8">
        <meta name="htmx-config" content='{"historyCacheSize": 15}'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Include Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

        <title>DAG Visualization</title>
        
        <script src="{% static 'django_mlops/htmx.min.js' %}" defer></script>
        <script src="https://unpkg.com/cytoscape@3.19.0/dist/cytoscape.min.js"></script>
        <script src="https://unpkg.com/dagre/dist/dagre.min.js"></script>
        <script src="https://unpkg.com/cytoscape-dagre/cytoscape-dagre.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" crossorigin="anonymous">

        <style>

        /* In your stylesheet */
        .is-complete {
            color: rgb(112, 255, 112) !important;
        }

        .is-not-complete {
            color: rgb(255, 238, 0) !important;
        }

        #cy-graph {
            border: 1px solid #858585; /* Soft grey border color */
        }

        .node-info-container {
            border: 1px solid #858585 !important; /* Soft grey border color */
        }

        .page-content { 
            padding: 2rem;
        }

        .title-hr {
            color: lightgrey;
        }

        </style>


    </head>
{% endblock head %}

{% block body %}
<body style="background-color:black" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' hx-ext="debug, event-header">
    <div class="page-content">
        
        
        <!-- HTMX Dropdown menu -->
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2 class="display-5 text-light">Pipeline Results</h2>
                        <hr class="title-hr mb-5">
                </div>
            </div>
     
            <div class="row">
                <div class="col">
                    <table class="table table-dark table-bordered table-hover table-sm">
                        <thead>
                            <tr>
                                <th scope="col">Process Name</th>
                                <th scope="col">Start Time</th>
                                <th class='text-center' scope="col">Completed</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for process in page_obj %}
                            <tr class='align-middle' style="font-size: 0.8rem;">
                                <td >{{ process.process_name_snapshot }}</td>
                                <td>{{ process.start_time }}</td>
                                <td class="{{ process.process_complete|yesno:'is-complete,is-not-complete' }} text-center">
                                    {{ process.get_status_display }}
                                </td>
                                <td class="text-center">
                                    <button name='executed_process_option' value='{{ process.id }}' class="btn btn-primary btn-sm" 
                                    hx-get="{% url 'tasks_run_viz' %}" hx-target="#cytoscape-and_ml-outer-row" hx-swap="innerHTML">
                                        <i class="fas fa-play"></i> Draw Graph
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
    
            <!-- Pagination Links -->
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
        
                    <span class="current text-light">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
        
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>

        </div>

        <div class="container mt-5 mb-5">
            {% include 'django_mlops/components/dag_graph_and_ml.html' %}
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</div>
</body>
<footer>

</footer>
{% endblock body %}
</html>