<!DOCTYPE html>
<html lang="en">
<head>

    {% load django_htmx %}
    {% load static %}

    <meta charset="UTF-8">
    <meta name="htmx-config" content='{"historyCacheSize": 15}'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Include Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>DAG Visualization</title>
    
    <script src="{% static 'django_mlops/htmx.min.js' %}" defer></script>

</head>
<body style="background-color:black" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' hx-ext="debug, event-header">

    

    <!-- HTMX Dropdown menu -->
    <div class="container"
     hx-get="{% url 'conceptual-dag-viz' %}"
     hx-trigger="change"
     hx-target="#cy-graph"
     hx-swap="outerHTML"
     hx-include="this"
     >

     <h2 class="display-4 mb-5 text-light">Conceptual Pipelines</h1>

        <div class="mb-3">
            <label class="mb-3 text-light">Select Process to Visualize:</label>

            <select name='process_option' class="form-control" id="graphSelector"  
                    <!-- hx-trigger="change"  -->
                    >
                {% for process in all_processes %}

                    <option value="{{ process.id }}" {% if forloop.first %}selected{% endif %}>
                    
                        {{ process.process_name }}

                    </option>
                    
                {% endfor %}
            </select>
        </div>

        <!-- Toggle button for showing nested tasks -->
        <div class="custom-control custom-switch">
            <label class="custom-control-label text-light" for="nestedTasksToggle">Show nested tasks: </label>
            <input name='show_nested' type="checkbox" class="custom-control-input" id="nestedTasksToggle"
                   <!-- hx-get="{% url 'conceptual-dag-viz' %}" -->
            
        </div>

    </div>


    <!-- Bootstrap grid container -->
    <div class="container">
        <div class="row">
            <div id="dag-cyto-col" class="col">
                <!-- Your content here -->
                {% include 'django_mlops/components/dag_cyto_conceptual.html' %}
            </div>
        </div>
    </div>

</body>
</html>