
<div class="container node-info-container border rounded">

    <h2 class="header-line">Task Results</h1>
    <br>
    <h5>Name: <span style="color: #78e4ff;">{{ executed_task_summary.task_name }}</span></h5>

    <br>
    <table class="table table-striped table-bordered table-dark table-hover table-sm">
        
        <thead>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            {% for key, value in executed_task_summary.items %}
            <tr>
                <td>{{ key }}</td>
                {% if code_in_response %}
                
                    <td> <pre> <code class="language-python">{{ value }}</code></pre> </td>
                {% else %}
                    <td>{{ value }}</tr>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    {% if code_in_response  %}

        <style>
            pre {
                white-space: pre; /* Default behavior, does not wrap text */
                overflow-x: auto; /* Allows horizontal scrolling */
            }
        </style>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/default.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/atom-one-dark.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
        <script>hljs.highlightAll();</script>

    {% endif %}


</div>